.left{
    width:14%;
    height:100%;
    background:#333;
    float:left
}
.left-content{
    width:80%;
    height:240px;
    margin:0 auto;
    overflow: hidden;
}
.logo{
    width:100%;
    height:55px;
    margin:20px auto 0 auto;
    background:url(../image/logo.png) no-repeat;
    background-size:contain
}
.information{
    width:100%;
    height:165px;
}
.information td{
    width:100%;
    border:1px solid #2f2f2f;
    background: #666666;
    color:#fff;
    font-size: 16px;
}
.information td:hover{
    background:#999;
    color:#666;
    cursor: pointer
}
.right{
    width:85%;
    height:auto;
    overflow: hidden;
    float:right
}
.header{
    width:100%;
    height:40px;
    background:#333;
}
.list{
    width:auto;
    height:40px;
    color:#fff;
    font-size: 16px;
    line-height: 40px;
    margin-left:20px
}
.typeIn-outline{
    width:100%;
    height:auto;
    margin-top:5px;
    overflow: hidden;
}
.typeIn{
    width:auto;
    height:80px;
    float: right;
    text-align:right;
    padding-right: 10px;
    font-size: 14px;
    line-height: 40px;
}
.typeIn input[type='text']{
    border:1px solid #ccc
    
}
.worktab{
    margin-top:5px;
    width:100%;
    height:auto;
}
.worktab td{
    width:10%;
    height:40px;
    font-size: 14px;
    border:1px solid #d1d1d1
}

.worktab tbody input.text-list{
    width:100%;
    height:40px;
    color:#545454;
    background:#fff
}
.worktab tbody input.text-list.b,.worktab tbody tr.b{
    background: #ccc
}
.worktab tbody input.btn1,btn2{
    width:40%;
    color:#fff
}
.worktab tbody input.btn1{
    background:#000
}
.worktab tbody input.btn2{
    background: red
}
.worktab thead td{
    background: #333;
    color:#fff;
}

.delete{
    width:100%;
    height:40px;
    line-height: 40px;
}
.delete .selected-id{
    width:auto;
    border:1px solid #ccc;
}




